html, body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}


#logoNintendo {
    background-color: red;
    display: flex;
    padding: 20px;
}

header{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;   
}

    

header ul{
    list-style-type: none;
    display: flex;
    margin-right: 30px;
    
}

header ul li{
    margin: 20px;
}


section div h2{
    text-align: center;
    color: grey;    
}

.containerPeli{
    background: linear-gradient(to bottom,red,white);
    width: 400px;
    
}

.masinforojo{
    margin-left: 900px;
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: red;
}





article{
    max-width: 400px;
    
}

article img{
    width: 400px;
}

article h3, article p{
    text-align: center;
}

.contenedorJuego{
    display: flex;
    flex-wrap: wrap;
}

section article{
    padding: 50px;
    border: 10px;
    border-color: black;
    border-style: solid;
}

section article button{
    background-color: royalblue;
    padding: 15px;
    color: white;
    border: none;
    margin-left: 125px;
    cursor: pointer;


}


